/* App.css */
.app {
  padding-top: 100px; /* Header 와 본문 사이 패딩(간격) */
  padding-bottom: 40px; /* Footer 와 본문 사이 패딩(간격) */

  max-width: 1200px;          /* 중앙 영역 최대 너비 */
  margin: 0 auto;             /* 좌우 가운데 정렬 */


}

.content {
  padding: 20px;
}