/* 전체 배경 + 가운데 정렬 (모바일 카드 느낌) */
.interest-card-wrap {
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;      /* 세로로 카드 2개 */
  align-items: center;         /* 가로 가운데 */
  justify-content: flex-start; /* 위에서부터 쌓이게 */
  gap: 16px; /*interest-card-wrap 안에 div 사이 간격*/
  padding: 24px 12px; /*상단 하단*/
  box-sizing: border-box;

  
}

/* 조건 - 나이 */
.interest-condition-age {
  width: 600px;
  max-width: 100%;
  background: #ececec;

  display: flex;
  justify-content: center;   /* 가로 중앙 */
  align-items: center;       /* 세로 중앙 (필요하면) */
  margin-bottom: 24px;

  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(15, 23, 42, 0.35);
}

/* 조건 - 키 */
.interest-condition-height {
  width: 600px;
  max-width: 100%;
  background: #ececec;

  display: flex;
  justify-content: center;   /* 가로 중앙 */
  align-items: center;       /* 세로 중앙 (필요하면) */
  margin-bottom: 24px;

  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(15, 23, 42, 0.35);
}

/* 조건 - 거리 */
.interest-condition-distance {
  width: 600px;
  max-width: 100%;
  background: #ececec;

  display: flex;
  justify-content: center;   /* 가로 중앙 */
  align-items: center;       /* 세로 중앙 (필요하면) */
  margin-bottom: 24px;

  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(15, 23, 42, 0.35);
}

/* 조건 - 관심사 */
.interest-condition-hobby {
  width: 600px;
  max-width: 100%;
  background: #ececec;

  display: flex;
  justify-content: center;   /* 가로 중앙 */
  align-items: center;       /* 세로 중앙 (필요하면) */
  margin-bottom: 24px;

  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(15, 23, 42, 0.35);
}
