.rs {
  width: 100%;
  max-width: 420px;

  --track-h: 6px;
  --thumb: 20px;

}

.rsHeader {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
}

.rsLabel {
  font-size: 14px;
  font-weight: 600;
}

.rsValue {
  font-size: 22px;
  font-weight: 800;
}

/* 트랙 영역 */
.rsTrackWrap {
  position: relative;
  height: 44px;
  display: flex;
  align-items: center;
}

/* 전체 트랙 */
.rsTrack {
  position: absolute;
  left: 0;
  right: 0;
  height: var(--track-h);
  border-radius: 999px;
  background: #d7dffd;
}

/* 선택된 구간(진한색) */
.rsRange {
  position: absolute;
  height: var(--track-h);
  border-radius: 999px;
  background: #2f2abf; /* 진한 보라 느낌 */
}

/* range input 2개를 겹치기 위한 설정 */
.rsInput {
  position: absolute;
  left: 0;
  width: 100%;
  height: 44px;
  margin: 0;
  background: none;
  pointer-events: none; /* 기본은 클릭 못 하게 */
  -webkit-appearance: none;
  appearance: none;
}

/* thumb만 조작 가능하게 */
.rsInput::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;

  width: var(--thumb);
  height: var(--thumb);
  border-radius: 999px;
  background: #ffffff;
  /* border: 3px solid #2f2abf; 이것은 동그라미에 border 이다.*/
  cursor: pointer;
  box-shadow: 0 10px 16px rgba(0,0,0,0.12);

  /* 트랙 중앙에 오도록 보정 */
  margin-top: calc((var(--track-h) - var(--thumb)) / 2);
}

.rsInput::-moz-range-thumb {
  pointer-events: auto;
  width: 26px;
  height: 26px;
  border-radius: 999px;
  background: #ffffff;
  border: 3px solid #2f2abf;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

/* Firefox 트랙 투명 */
.rsInput::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
}
.rsInput::-moz-range-track {
  height: 6px;
  background: transparent;
}
