.rs {
  width: 100%;
  /*input[type=range] 를 설정함.*/
  --track-h: 4px; /*트랙의 위아래 폭*/
  --thumb: 18px; /*동그란 손잡이 크기*/
}

/* 헤더: 한 줄 정렬 */
.rsHeader{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom: 10px;
}

.rsLabel{
  font-size: 13px;
  font-weight: 800;
  color: #0f172a;
}

/* 값 칩 */
.rsChip{
  font-size: 13px;
  font-weight: 800;
  padding: 7px 10px;
  border-radius: 999px;
  background: rgba(255, 77, 109, 0.12);
  color: #ff4d6d;
  border: 1px solid rgba(255, 77, 109, 0.18);
}

/* 트랙 영역 */
.rsTrackWrap{
  position: relative;
  height: 36px;
  display:flex;
  align-items:center;
}

/* 전체 트랙 */
.rsTrack{
  position:absolute;
  left:0;
  right:0;
  height: var(--track-h);
  border-radius: 999px;
  background: rgba(0, 76, 255, 0.12); /* 트랙 색상 */
}

/* 선택 구간 */
.rsRange{
  position:absolute;
  height: var(--track-h);
  border-radius: 999px;
  background: #ff4d6d; /* 포인트 컬러 */
}

/* 슬라이더 입력의 전체 (input)  */
.rsInput{
  position:absolute;
  left:0;
  width:100%;
  height:36px;
  margin:0;
  background:none;
  pointer-events:none; /* input type의 Range 로 설정된 부분 클릭 금지  */
  -webkit-appearance:none;
  appearance:none;
}

/* 슬라이더 입력의 '점' 클릭해서 잡아서 움직일 수 있는것(WebKit thumb) */
.rsInput::-webkit-slider-thumb{
  pointer-events:auto; /*  slider-thumb를 클릭 가능하도록 함 */
  -webkit-appearance:none;
  width: var(--thumb);
  height: var(--thumb);
  border-radius: 999px;
  background: #ff4d6d;
  border: 3px solid #ffffff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.14);
  margin-top: calc((var(--track-h) - var(--thumb)) / 2);
}

/* 슬라이더 입력의 '점' Firefox thumb 용 */
.rsInput::-moz-range-thumb{
  pointer-events:auto;
  width: var(--thumb);
  height: var(--thumb);
  border-radius: 999px;
  background: #ff4d6d;
  border: 3px solid #ffffff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.14);
}

/* 슬라이더 트랙 투명 */
.rsInput::-webkit-slider-runnable-track{
  height: var(--track-h);
  background: transparent;
}
/* 슬라이더 트랙 *Firefox 용 */
.rsInput::-moz-range-track{
  height: var(--track-h);
  background: transparent;
}
