/* Footer.css 현재 사용 x*/
.footer {
  position: fixed; /*화면에 계속 나타남*/
  bottom: 0;
  left: 0;
  width: 100%;
  height: 289px; /*Footer 높이*/
  background-color: #333;
  color: white;
  display: flex; /*내용 중앙 정렬*/
  align-items: center;
  justify-content: center;
  z-index: 1000;

}
