/* Header.css */
.header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;


}

/*logo 설정*/
.logo img{
  width: 200px;   /* 가로 크기 */
  height: auto;   /* 비율 유지 */

}