.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #ffffff;

  display: flex;
  align-items: center;
  z-index: 1000;

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* 중앙 정렬 컨테이너 */
.header-inner {
  max-width: 1200px;     /* 푸터와 같은 값으로 */
  width: 100%;
  margin: 0 auto;        /* 가운데 정렬 */
  padding: 0 20px;       /* 좌우 여백 */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 */
.logo img {
  width: 180px;
}

/* 버튼 간격 */
.auth-buttons button {
  margin-left: 10px;
}
